@model IPagedList<NovelTee.Models.Product>

@{
    ViewBag.Title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

@using PagedList.Mvc;
@using PagedList;


<h2>@ViewBag.Title</h2>

<!--TODO-->
<div class="body-content">
    <section class="sidebar">

    </section>

    <section class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                    @:</div>
                    @:<div class="row">
                }

                <div id="products" class="col-lg-4 col-md-4 col-sm-4">
                    <div class="img-thumbnail">
                
                        <a href='@Url.Action("Product", "Products", new { id = product.Id}, null)'>
                            <img src='@Url.Content(product.ImagePath)' alt="DbGood" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;" />
                        </a>                
                
                        <div class="caption">
                            <h4>@Html.ActionLink(product.Name, "Product", "Products", new { id = product.Id }, null)</h4>
                            <p>@product.Description</p>
                            <p>@product.Price</p>
                        </div>
                    </div>
                </div>

            counter++;
            }
        </div>
        @Html.PagedListPager(Model, i => Url.Action(ViewBag.Title, "Products", new { i, search = Request.QueryString["search"] }))
    </section>
</div>

<!--End TODO-->
