@model IEnumerable<NovelTee.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h2>Products</h2>

<!--TODO-->
<div class="body-content">
    <section class="sidebar">

    </section>
    <section class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                    @:</div>
                    @:<div class="row">
                }

        <div class="col-md-4">
            <div class="img-thumbnail">
                
                @if (product.ImagePath == null)
                {
                    <a href='@Url.Action("Product", "Products", new { id = product.Id }, null)'>
                        <img src='@Url.Content("~/content/Images/NovelTee.png")' alt="Default" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;" />
                    </a>
                }
                else
                {
                    <a href='@Url.Action("Product", "Products", new { id = product.Id}, null)'>
                        <img src='@Url.Content(product.ImagePath)' alt="DbGood" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;" />
                    </a>
                }
                
                
                <div class="caption">
                    <h4>@Html.ActionLink(product.Name, "Product", "Products", new { id = product.Id }, null)</h4>
                    <p>@product.Price</p>
                    <p>@product.Description</p>
                </div>
            </div>
        </div>

        counter++;
            }
        
        </div>
    </section>
</div>
<!--End TODO-->

