@model IPagedList<NovelTee.Models.Product>

@{
    ViewBag.Title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<div class="row main">
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div>
        @Html.PagedListPager(Model, i => Url.Action(ViewBag.Title, "Products", new { i, search = Request.QueryString["search"] }))
    </div>
</div>



<!--TODO-->
<div class="body-content">

        <div class="row">

            <div class="sidebar">
                <h4>Filter by Product:</h4>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Tees", "Tees", "Products")</li>
                    <li>@Html.ActionLink("Tank Tees", "Tanks", "Products")</li>
                    <li>@Html.ActionLink("Hood Tees", "Hoodies", "Products")</li>
                </ul>
            </div>
            
        <div class="main">

            

            <div class="row">

                @foreach (var product in Model)
            {
                    <div id="products" class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="img-thumbnail">

                            <a href='@Url.Action("Product", "Products", new { id = product.Id}, null)'>
                                <img src='@Url.Content(product.ImagePath)' alt="DbGood" data-holder-rendered="true" />
                            </a>

                        </div>
                        <div class="caption">
                            <h4>@Html.ActionLink(product.Name, "Product", "Products", new { id = product.Id }, null)</h4>
                            <p>@string.Format("{0:C}", @product.Price)</p>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, i => Url.Action(ViewBag.Title, "Products", new { i, search = Request.QueryString["search"] }))

            </div>


        </div>

            

</div>

<!--End TODO-->
