@model NovelTee.ViewModels.NewProductFormViewModel
        
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Product</h2>

<div class="container">
    <div class="content">
        <div class="title">

        </div>
        <div class="img-preview">
            <div>
                <!--Image Upload-->
            </div>
        </div>
        <div>
            <div>
                <!--Description-->
                <p class="options">
                </p>
            </div>
        </div>
        <div class="options">
            <!--
                Tee variant => Future Order
                -->
            @using (Html.BeginForm("", "Products"))
            {

                <div class="form-group">
                    @Html.LabelFor(t => t.Product.Name)
                    @Html.TextBoxFor(t => t.Product.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Product.Description)
                    @Html.TextBoxFor(t => t.Product.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Product.Price)
                    @Html.TextBoxFor(t => t.Product.Price)
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Product.ImagePath)
                    <input type="file" name="ImageFile" required />
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.Product.CategoryID)
                    @Html.DropDownListFor(t => t.Product.CategoryID, new SelectList(Model.Category, "Id", "Cat_Name"), "Select Category", new { @class = "form-control" })
                </div>
                <!--Quantity-->
                <button type="submit" class="btn btn-primary">Add New Product</button>
            }
        </div>
    </div>


</div>