@model NovelTee.ViewModels.ProductFormViewModel
            
@{
    ViewBag.Title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title Product</h2>

<div class="container">
    <div class="content">
        <div class="title">

        </div>
        <div class="img-preview">
            <div>
                <!--Image Upload-->
            </div>
        </div>
        <div>
            <div>
                <!--Description-->
                <p class="options">
                </p>
            </div>
        </div>
        <div class="options">
            <!--
                Tee variant => Future Order
                -->
            @using (Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {

                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Name)
                    @Html.TextBoxFor(p => p.Product.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Description)
                    @Html.TextBoxFor(p => p.Product.Description)
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Price)
                    @Html.TextBoxFor(p => p.Product.Price)
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Product.ImagePath)
                    <input type="file" name="Product.ImageFile" required />
                </div>
                <div class="form-group">
                    @Html.LabelFor(p => p.Product.CategoryID)
                    @Html.DropDownListFor(p => p.Product.CategoryID, new SelectList(Model.Category, "Id", "Cat_Name"), "Select Category", new { @class = "form-control" })
                </div>
                @Html.HiddenFor(p => p.Product.Id)
                <!--Quantity-->
                <button type="submit" class="btn btn-primary">Add New Product</button>
            }
        </div>
    </div>


</div>