@model NovelTee.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title Product</h2>

<div class="container">
    <div class="content">
        <div class="title">
            @Model.Product.Name
        </div>
        <div class="img-preview">
            <div>
                <!--Image preview-->
                <img src="@Url.Content(Model.Product.ImagePath)" alt="ImagePathIsEmpty" />
            </div>
        </div>
        <div>
            <div>
                <!--Description-->
                <p class="options">
                    @Model.Product.Description
                </p>
            </div>
        </div>
        <div class="options">
            <!--
                Tee variant => Future Order
                -->
            @using (Html.BeginForm("AddToCart", "Products"))
            {

                <div class="form-group">
                    @Html.LabelFor(t => t.TeeVariant.ColorId)
                    @Html.DropDownListFor(t => t.TeeVariant.ColorId, new SelectList(Model.Color, "Id", "Name"), "Select Color", new { @class = "form-control" })
                    <!--TODO Validate-->
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.TeeVariant.GenderId)
                    @Html.DropDownListFor(t => t.TeeVariant.GenderId, new SelectList(Model.Gender, "Id", "Name"), "Select Gender", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(t => t.TeeVariant.SizeId)
                    @Html.DropDownListFor(t => t.TeeVariant.SizeId, new SelectList(Model.Size, "Id", "Name"), "Select Size", new { @class = "form-control" })
                </div>
                <!--Quantity-->
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            }
        </div>
    </div>
    

</div>